<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="/webjars/jquery/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="/webjars/jquery/jquery.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>


    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>

</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <!-- Bootstrap row -->
    <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
            <ul class="nav nav-list accordion" id="sidenav-accordian">
                <li>
                    <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Content Areas
            </span></a>

                    </div>
                    <ul class="nav nav-list collapse" id="content-areas">
                        <li><a href="#" title="Title">All</a>
                        </li>
                        <li><a href="#" title="Title">Urban Planning</a>
                        </li>
                        <li><a href="#" title="Title">Sustainability</a>
                        </li>
                        <li><a href="#" title="Title">Public Administration</a>
                        </li>
                        <li>
                            <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#content-areas" href="#nav-health">
                                Health</a>

                            </div>
                            <ul class="nav-secondary nav-list collapse" id="nav-health">
                                <li><a href="#" title="Title">Introduction</a>
                                </li>
                                <li><a href="#" title="Title">Lesson: What is Epilepsy?</a>
                                </li>
                                <li><a href="#" title="Title">Lesson: Pathology</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-header" data-toggle="collapse" data-target="#languages"> <span class="nav-header-primary">
                Languages
        </span>

                    <ul class="nav nav-list collapse" id="languages">
                        <li> <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-tasks fa-fw mr-3"></span>
                            <span class="menu-collapsed">Tasks</span>
                        </div>
                        </li>
                        <li><div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="fa fa-tasks fa-fw mr-3"></span>
                            <span class="menu-collapsed">Tasks</span>
                        </div>
                        </li>
                        <li><a href="#" title="Title">Turkish</a>
                        </li>
                        <li><a href="#" title="Title">Hebrew</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Bootstrap List Group -->
            <ul class="list-group">
                <!-- Separator with title -->
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>Online Reports</small>
                </li>
                <!-- /END Separator -->
                <!-- Menu with submenu -->

                <a href="#" class="bg-dark list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-tasks fa-fw mr-3"></span>
                        <span class="menu-collapsed">Tasks</span>
                    </div>
                </a>
                <!-- Separator with title -->
<!--                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">-->
<!--                    <small>OPTIONS</small>-->
<!--                </li>-->
                <!-- /END Separator -->


            </ul><!-- List Group END-->
        </div><!-- sidebar-container END -->

        <div layout:fragment="content">
            <p>Content goes here...</p>
        </div>

    </div><!-- body-row END -->

<footer>
    <div th:replace="fragments/footer :: footer" />
</footer>
</body>
</html>
