<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<th:block layout:fragment="content">
    <!-- MAIN -->
    <div class="col">

<!--        <h1>-->
<!--            Graph Online Reports-->
<!--            <small class="text-muted">1.0</small>-->
<!--        </h1>-->


        <div class="card">
            <h4 class="card-header">
                Graph Online Reports
                <small class="text-muted">1.0</small>
            </h4>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Endpoint</th>
                        <th scope="col">Test Case Name</th>
                        <th scope="col">Result</th>
                        <th scope="col">Request</th>
                        <th scope="col">Response</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="report : ${grapOnlineReports}">
                        <th scope="row">1</th>
                        <td>/data/online</td>
                        <td th:text="${report.key}">key</td>
                        <td><span class="text-success font-weight-bold" th:if="${report.value}">Pass</span> <span class="text-danger font-weight-bold" th:unless="${report.value}">Failed</span> </td>
                        <td></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>




    </div><!-- Main Col END -->

</th:block>
</body>
</html>
